{% extends 'admin/layouts/app.html' %}

{% block title %}
    <title>Memoriesdistro Admin</title>
{% endblock title %}

{% block contenido %}
    <div class="container">
        <br>
        <h1>Lista de Productos</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>${{ producto.precio }}</td>
                        <td>
                            <a href="{% url 'Editar' producto.id %}" class="btn btn-sm btn-primary">Editar</a>
                            <a href="{% url 'Eliminar' producto.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock contenido %}
        