{% extends 'admin/layouts/app.html' %}
{% block title %}
<title>Crear usuario</title>
{% endblock title %}

{% block contenido %}
    <div class="container">
        <h1 style="text-align: center">Crear Usuario</h1>
        <div class="row g-5">
            <div class="col-md-12 col-lg-12">
                <div class="row g-3">
                    <div class="col-sm-12">
                        <div class="card" style="text-align: center">
                            <div class="card-body justify-content-center" style="text-align: center">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-success">Crear</button>
                                    <a class="btn btn-primary" href="{% url 'admin' %}">Volver</a>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
    
    