{% extends 'tienda/layouts/app.html' %}

{% block title %}
    <title>CD</title>
{% endblock title %}
    
{% block contenido %}
    <br>
      <h1 style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; text-align: center;">CDs</h1>

      <!--Grid card(solo estetico)-->
      <div class="row row-cols-1 row-cols-md-1 g-3 mt-3">
        <div class="col" style="padding-left: 25px; padding-right: 25px">
          <div class="card">
            {% load static %}
            <img src="{% static 'img/Used-CDs_thumb.jpg' %}" class="card-img-top" height="300" alt="...">
            <div class="card-img-overlay" style="text-align: center;">

            </div>
          </div>
        </div>
        </div>
      <br>
      <section>
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 col-lg-4 ">
                <div class="accordion justify-content-center" id="accordionExample" style="text-align: center;">
          <div class="accordion-item justify-content-center" style="text-align: center;">
            <h2 class="accordion-header justify-content-center" style="text-align: center;">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: rgb(66, 66, 66);">
                <span style="text-align: center; color: white;">Filtros</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse justify-content-center" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row mb-3 g-3">
                  <h4 class="d-flex justify-content-center align-items-center mb-2">
                    
                  </h4>
                    <div>
                      <button type="button" class="btn btn-primary">Filtrar</button>
                      <button type="button" class="btn btn-secondary">Limpiar</button>
                    </div>
                  
          
                  <ul class="list-group mb-3">
          
                    <li class="list-group-item d-flex justify-content-center lh-sm">
                      <div>
                        <label for="customRange1" class="form-label">Precio</label>
                        <input type="range" class="form-range" id="customRange1">
                      </div>
                      
                    </li>
          
                    <li class="list-group-item d-flex justify-content-center lh-sm">
                      <div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Sello Discografico
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                              <div class="accordion-body">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Independiente
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Sony Music
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Universal Music
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Warner Music
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                      </div>
                    </li>
          
                    <li class="list-group-item d-flex justify-content-center lh-sm">
                      <div>
                        <select class="form-select" aria-label="Default select example">
                          <option selected>Ordenar por</option>
                          <option value="1">Nombres de A a Z</option>
                          <option value="2">Nombre de Z a A</option>
                          <option value="3">Precio de menor a mayor</option>
                          <option value="4">Precio de mayor a menor</option>
                        </select>
                      </div>
                    </li>
          
                  </ul>
          
                
              </div>
              </div>
            </div>
          </div>
        </div>
          </div>
          </div>
  
        <!--Cards productos-->
        <div class="container">
          <div class="row">
            <div class="row row-cols-2 row-cols-md-5 g-3 mt-3 justify-content-center">
              
              {% for producto in productos %}
                <div class="col">
                    <div class="card h-25" id="{{ producto.id }}"
                    data-img="{{ producto.foto }}"
                    data-nombre="{{ producto.nombre }}"
                    data-precio="{{ producto.precio }}"
                    style="height: auto;">
                        <a href="./producto/{{ producto.id }}"><img src="{{ producto.foto }}" height="200" class="card-img-top" alt="..."></a>
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title" style="text-align: start;">{{ producto.categoria }}</h5>
                            <h5 class="card-title" style="text-align: start;">{{ producto.nombre }}</h5>
                            <p class="card-text"><br><br>$ {{ producto.precio }}</p>
                            <button type="button" class="btn btn-outline-dark" onclick="comprar({{ producto.id }})" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                Agregar al carro
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Producto agregado al carro</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <img src="{{ producto.foto }}" width="50" height="50">
                                        <p>{{ producto.categoria }} {{ producto.nombre }}<strong style="color:black">$ {{ producto.precio }}</strong>
                                            <br><br><hr><p style="text-align: end;"><strong>Total: </strong><strong style="color:green;">$ {{ producto.precio }}</strong></p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir comprando</button>
                                        <button type="button" class="btn btn-primary">Ir a pagar<i class="fa fa-paragraph" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
              </div>
          </div>
        </div>
  
      </section>
  
      <!--paginacion-->
      <nav class="mt-4" aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
  
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
  
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
{% endblock contenido %}