{% extends 'tienda/layouts/app.html' %}

{% block title %}
    <title>Equipo de desarrollo</title>
{% endblock title %}
    
{% block contenido %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 mt-4 justify-content-center" style="text-align: center;">
        <img src="img/IMG_20230517_123411_918.jpg" width="350" height="350" class="img-fluid rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title" style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Equipo de desarrollo</h1>
          <p class="card-text">
            <article>
              <div class="card bg-dark text-light">
                <div class="card-body" style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">
                  <p>
                    Nombre: Aníbal Kaune
                    <br>
                    Edad: 24 Años 
                    <br>
                    Carrera: Ingenieria en Informatica - Segundo año
                    <br>
                    Correo: ani.kaune@duocuc.cl
                    <br>
                    <span>Áreas de interes: 
                        <li>Gestión de proyectos</li>
                        <li>Programación</li>
                    </span>
                  </p>
                </div>
                
              </div>
            <div class="row">
                
                <p>Mis redes sociales:</p>

                <button class="btn btn-light col-2 border-dark-subtle"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                <!-- <a class="btn btn-light col-2 border-dark-subtle" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                <button class="btn btn-light col-2 border-dark-subtle"><i class="fa fa-instagram" aria-hidden="true"></i></button>
            </div>

            </article>
          </p>
          
        </div>
      </div>
    </div>
  </div>


    <br>
{% endblock contenido %}
    