{% extends 'tienda/layouts/app.html' %}

{% block title %}
    
{% endblock title %}
    
{% block contenido %}
<div class="card mb-3" id="producto-1"
data-img="img/Red-Hot-Chili-Peppers-Stadium-Arcadium.jpg"
data-nombre="CD Red Hot Chili Pepper / Stadium Arcadium 2 CDs"
data-precio="6990">
  <div class="row g-0">
    <div class="col-md-4 justify-content-center" style="text-align: center;">
      <img src="img/Red-Hot-Chili-Peppers-Stadium-Arcadium.jpg" width="350" height="350" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title" style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">CD Red Hot Chili Pepper / Stadium Arcadium 2 CDs</h1>
        <p class="card-text">
          <article>
            <div class="card">
              <div class="card-body">
                <p>SKU: 9362499962
                  <br>
                  Formato: CD
                  <br>
                  Sello Discografico: Warner Music
                  <br>
                  Año: 2006
                  <br>
                  Stock: <strong>12 unidades</strong>
                  <br>
                  <s>$ 9.990</s>
                  <br>
                  <strong style="color:green">$ 6.990</strong>
                  <br>
                  Cantidad
                  <br>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark">-</button>
                    <input class="form-control me-3" type="search" placeholder="1" aria-label="Search" style="text-align: center;">
                    <button type="button" class="btn btn-dark">+</button>
                  </div>
                  <br><br>
                  
                  <br><br>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-dark" onclick="comprar(1)" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                    Agregar al carro
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Producto agregado al carro</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="img/Red-Hot-Chili-Peppers-Stadium-Arcadium.jpg" width="50" height="50">
                          <p>CD Red Hot Chili Pepper / Stadium Arcadium <strong style="color:black">$ 6.990</strong>
                            <br><br><hr><p style="text-align: end;"><strong>Total: </strong><strong style="color:green;">$ 6.990</strong></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir comprando</button>
                          <button type="button" class="btn btn-primary">Ir a pagar<i class="fa fa-paragraph" aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </p>
              </div>
            </div>
          

          </article>
        </p>
        
      </div>
    </div>
  </div>
</div>

  <br>
  <br>
  <h2 style="text-align: center; font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">También te recomendamos</h2>
  <hr>
  <br>
  <div class="row row-cols-2 row-cols-md-5 g-3 mt-3 justify-content-center">
      
    <div class="col">
      <div class="card h-25" style="height: auto;">
        <img src="img/ed sheeran.jpg" height="200" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="text-align:start;">CD</h5>
          <h5 class="card-title" style="text-align: start;">Ed Sheeran / Divide</h5>
          <p class="card-text"><br><br><s>$ 8.990</s></p>
          <p class="card-text" style="color:green"><strong>$ 6.990</strong></p>
          <a href="#" class="btn btn-outline-dark">Agregar al carro</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-25" id="producto-10"
      data-img="img/Meteora.jpeg"
      data-nombre="CD Linkin Park / Meteora"
      data-precio="16990"
      style="height: auto;">
        <img src="img/Meteora.jpeg" height="200" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="text-align: start;">CD</h5>
          <h5 class="card-title" style="text-align: start;">Linkin Park / Meteora</h5>
          <p class="card-text"><br><br><s>$ 19.990</s></p>
          <p class="card-text" style="color:green"><strong>$ 16.990</strong></p>
          <button class="btn btn-outline-dark" type="button" onclick="comprar(10)">Agregar al carro</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-25" id="producto-3"
      data-img="img/Billie Eilish.jpg"
      data-nombre="Cassette Billie Eilish / Happier Than Ever"
      data-precio="35990"
      style="height: auto;">
        <img src="img/Billie Eilish.jpg" height="200" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="text-align: start;">Cassette</h5>
          <h5 class="card-title" style="text-align: start;">Billie Eilish / Happier Than Ever</h5>
          <p class="card-text"><br><s>$ 46.990</s></p>
          <p class="card-text" style="color:green"><strong>$ 35.990</strong></p>
          <button class="btn btn-outline-dark" type="button" onclick="comprar(3)">Agregar al carro</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-25" style="height: auto;">
        <img src="img/led_zeppelin.jpg" height="200" class="card-img-top" alt="...">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="text-align: start;">Vinilo</h5>
          <h5 class="card-title" style="text-align: start;">Led Zeppelin / Led Zeppelin II</h5>
          <p class="card-text"><br><s>$ 24.990</s></p>
          <p class="card-text" style="color:green"><strong>$ 17.490</strong></p>
          <a href="#" class="btn btn-outline-dark">Agregar al carro</a>
        </div>
      </div>
    </div>
    
  </div>
{% endblock contenido %}