{% extends 'tienda/layouts/app.html' %}

{% block title %}
<title>{{producto.nombre}}</title>
    
{% endblock title %}
    
{% block contenido %}
<div class="card mb-3" id="{{ producto.id }}"
data-img="{{ producto.foto }}"
data-nombre="{{ producto.nombre }}"
data-precio="{{ producto.precio }}">
  <div class="row g-0">
    <div class="col-md-4 justify-content-center" style="text-align: center;">
      <img src="{{ producto.foto }}" width="350" height="350" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title" style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">{{ producto.categoria }} {{ producto.nombre }}</h1>
        <p class="card-text">
          <article>
            <div class="card">
              <div class="card-body">
                  <br>
                  SKU: {{ producto.sku }}
                  <br>
                  Formato: {{ producto.categoria }}
                  <br>
                  Stock: <strong></strong>
                  <br>
                  <strong>$ {{ producto.precio }}</strong>
                  <br>
                  Cantidad: 
                  <br><br>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark">-</button>
                    <input class="form-control me-3" type="search" placeholder="1" aria-label="Search" style="text-align: center;">
                    <button type="button" class="btn btn-dark">+</button>
                  </div>
                  <br><br>
                  
                  <br><br>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-dark" onclick="comprar({{ producto.id }})" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                    Agregar al carro
                  </button>
                  <br>
                  <br>
                  Descripción:
                  <br>
                  {{ producto.descripcion }} 

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Producto agregado al carro</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <img src="{{ producto.foto }}" width="50" height="50">
                            <p>{{ producto.categoria }} {{ producto.nombre }}<strong style="color:black">$ {{ producto.precio }}</strong>
                                <br><br><hr><p style="text-align: end;"><strong>Total: </strong><strong style="color:green;">$ {{ producto.precio }}</strong></p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir comprando</button>
                            <button type="button" class="btn btn-primary">Ir a pagar<i class="fa fa-paragraph" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                  </div>
                </p>
              </div>
            </div>
          

          </article>
        </p>
        
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}